{# src/Sdz/BlogBundle/Resources/view/Blog/formulaire.html.twig #}

<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
            <br />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>